@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: Oswald, SERIF;
    background: linear-gradient(0deg, #474747 0%, #000000 100%);
}

p {
    color: #ffffff;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(138, 138, 138);

}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(87, 87, 87);
}

.sidebar {
    color: rgb(187, 187, 187);
    background: linear-gradient(180deg, #474747 0%, #141414 100%);
}

.card {
    background: linear-gradient(180deg, #474747 0%, #141414 100%);
    color: rgb(255, 255, 255);
}

.card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.slide-text,
.footer-text {
    color: #ffffff;
    margin:auto auto;
}

footer
 {
    background-color: #1f1f1f;
}

.btn-outline-primary {
    background-color: #2e2e2e;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@media (max-width:755px) {
    .carousel-indicators {
        display: none;
    }
}

